* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 80%;
  margin: auto;
}

main {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #09094c;
}

p {
  line-height: 25px;
}
/* header */
.container-header::after {
  content: "";
  display: table;
  clear: both;
}

.container-header {
  margin-top: 10px;
}

.top-header {
  margin-bottom: 10px;
}
.language {
  width: auto;
  float: left;
  border-right: 1px solid grey;
  padding: 10px 10px;
  color: #09094c;
}

.contact {
  width: 40%;
  float: left;
  padding: 10px 10px;
  color: #09094c;
}

.search-button {
  width: 10%;
  float: left;
  padding: 10px 10px;
  text-align: right;
  color: #2196f3;
}

.button-login {
  margin-right: 30px;
  height: 40px;
  float: left;
}

.button-login button {
  text-align: left;
  padding: 10px 10px;
  color: #e87550;
  border: 1px solid #e87550;
  border-radius: 5px;
  font-size: 18px;
}

.button-login button:hover {
  background-color: #e87550;
  color: white;
}

.hubspot {
  width: 15%;
  float: left;
}

.hubspot button {
  text-align: left;
  padding: 10px 10px;
  color: white;
  background-color: #e87550;
  border-radius: 5px;
  font-size: 18px;
  border: none;
}

.hubspot button:hover {
  background-color: orange;
}

.logo {
  width: 40%;
  float: left;
  margin-top: 10px;
}

.bottom-header img {
  padding-top: 30px;
}


/* Barra menu principale */
.main-menu {
  width: 60%;
  float: left;
  text-align: center;
  margin-top: 10px;
  padding-top: 30px;
}

.main-menu li {
  display: inline-block;
  padding: 15px;
  color: #09094c;
}

.main-menu li:hover {
  background-color: #e87550;
  color: white;
}

.main-menu a:hover {
  color: white;
}

.bottom-header::after {
  content: "";
  display: table;
  clear: both;
}

main .title {
  width: 40%;
}

.title h1 {
  font-size: 40px;
}

.title p {
  line-height: 25px;
  padding-top: 20px;
}

.title button {
  text-align: left;
  padding: 15px 15px;
  margin-top: 30px;
  color: white;
  background-color: #e87550;
  border-radius: 5px;
  font-size: 25px;
  border: none;
}

.title button:hover {
  background-color: orange;
}

.title-img {
  width: 100%;
  /* background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-size: 90%; */
}

.title-img img {
  width: 100%;
  position: absolute;
  right: 0;
  top: 25%;
  z-index: -1;
}

/* Seconda parte */
.powerful {
  width: 100%;
  margin-top: 40%;
  text-align: center;
}

.powerful img {
  width: 20%;
}

.powerful h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

.freehubspot {
  width: 100%;
  height: 200px;
  margin-top: 15%;
}

.freehubspot .left {
  width: 40%;
  height: 200px;
  text-align: center;
}

.freehubspot .right {
  width: 100%;
  height: 150px;
}

.freehubspot .right h3 {
  padding: 20px;
}

.freehubspot .right h4 {
  padding: 20px;
  font-size: 20px;
}

.freehubspot .right hr {
  display: inline;
}

.freehubspot .left img {
  width: 40%;
  margin-bottom: 30px;
}

.freehubspot .left button {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 15px 15px;
  color: white;
  background-color: #e87550;
  border-radius: 5px;
  font-size: 25px;
  border: none;
}

.freehubspot .left button:hover {
  background-color: orange;
}

.freehubspot ul li {
  display: inline-block;
  padding: 0 20px;
}

.freehubspot span {
  padding: 0 5px;
}

.freehubspot span i {
  color: #e87550;
}

.main-box {
  width: 100%;
  margin-top: 10%;
}

.main-box .box {
  width: 33.333%;
  text-align: center;
  float: left;
  padding: 10px;
}

.main-box .one img {
  width: 30%;
}

.main-box .two img {
  width: 37%;
}

.main-box .three img {
  width: 28%;
}

.main-box .four {
  border-top: 1px solid black;
}

.main-box .five {
  border-top: 1px solid black;
}

.main-box .six {
  border-top: 1px solid black;
}

.main-box ul {
  list-style: none;
  text-align: left;
  padding-top: 10px;
}

.main-box ul i {
  color: #e87550;
  padding-right: 10px;
}

.main-box button {
  display: block;
  margin-left: 50%;
  margin-top: 40px;
  transform: translateX(-50%);
  padding: 15px 15px;
  color: white;
  background-color: #e87550;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.main-box button:hover {
  background-color: orange;
}

.main-box::after {
  content: "";
  display: table;
  clear: both;
}

/* Box con sfondo background azzurro */
.box-blue {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to right, #08acad, #b0e2de);
  text-align: center;
  margin-top: 50px;
}

/* #00bcd4 */

.box-blue .container-blue {
  width: 80%;
  margin: auto;
}

.box-blue h4 {
  color: white;
  font-size: 35px;
  padding-top: 25px;
}

.box-blue p {
  color: white;
  line-height: 25px;
  font-size: 15px;
  padding-bottom: 30px;
}

.box-blue .mini-box span {
  display: block;
  color: white;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 700;
}

.box-blue .mini-box p {
  padding-top: 30px;
}

#number {
  padding-top: 40px;
}

.box-blue {
  display: block;
  color: white;
  padding-top: 20px;
}

.box-blue .mini-box {
  width: 25%;
  height: 200px;
  float: left;
}

.box-blue .bor {
    border-right: 1px solid black;
}

.box-blue .bot {
    border-bottom: 1px solid black;
}

.box-blue .pad {
    padding-top: 20px;
}

.box-blue {
  content: "";
  display: table;
  clear: both;
}


/* Final Box */
.final-main {
  width: 80%;
  margin: 30px auto;
}

.left {
  width: 50%;
  float: left;
}

.left-first {
  width: 30%;
  padding-left: 100px;
  padding-top: 30px;
  float: left;
}

.final-main .left h4 {
  font-size: 30px;
  padding-bottom: 25px;
}

.final-main .loghi-second {
  width: 50%;
  float: left;
}

.final-main .left-first {
  /* padding: 30px 130px; */
}

.final-main .left-first h3 {
  font-size: 50px;
  padding-bottom: 30px;
}

.loghi .box-loghi {
  width: 25%;
  height: 150px;
  float: left;
  text-align: center;
}

.loghi .box-loghi img {
  width: 80%;
  padding-top: 55px;
}

.loghi::after {
  content: "";
  display: table;
  clear: both;
}

.loghi {
  width: 70%;
  padding-left: 200px;
  text-align: right;
  float: left;
}

.loghi-second img {
  width: 40%;
  padding-top: 20px;
  position: relative;
  left: 70%;
}

.final-main::after {
  content: "";
  display: table;
  clear: both;
}

.final-main .left button {
  display: block;
  margin-top: 40px;
  padding: 15px 15px;
  color: white;
  background-color: #e87550;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.final-main .left button:hover {
  background-color: orange;
}

.final-main .left p {
  padding-top: 25px;
}

/* Footer */
.box-footer {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  background-color: #334a5b;
}

.elenco-footer {
  width: 80%;
  height: 300px;
  background-color: blue;
  margin: auto;
}

.ul-footer {
  width: 25%;
  height: 200px;
  background-color: orange;
  float: left;
  border: 1px solid black;
}
